@import 'tailwindcss';

/* * {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.3) transparent;
} */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-backgroundPrimary);
  margin: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3);
  border-radius: 6px;
  background-clip: padding-box;
  border: none;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.5);
}

::-webkit-scrollbar-button {
  display: none;
}

@theme {
  --color-backgroundPrimary: #f9f9f6;
  --color-backgroundSecondary: #f1f7ee;
  --color-backgroundTertiary: #dee2da;

  --color-contentPrimary: #0b1a12;
  --color-contentSecondary: #5a5e56;
  --color-contentTertiary: #2c5a41;
  --color-contentInverted: #ffffff;

  --color-accentBase: #88b77e;
  --color-accentLight: #dbebd5;
  --color-accentDark: #4d8b43;
  --color-accentMuted: #d8ded4;

  --color-borderPrimary: #8dae94;
  --color-borderSecondary: #c3c8bc;
  --color-borderLight: #a2cd9f;

  --color-contentError: #dc2626;
  --color-contentDesctructive: #dc2626;
}

.custom-shadow {
  box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #f9f9f6;
  --foreground: #0b1a12;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
